# .gitattributes
* text=auto eol=lf
*.mod text working-tree-encoding=UTF-8 #whyyyyyyyyyyyyyyy
*.txt text working-tree-encoding=UTF-8
*.yml text working-tree-encoding=UTF-8
*.md text working-tree-encoding=UTF-8
